.top-large {
  padding-top: var(--block-padding);
}

.top-medium {
  padding-top: calc(var(--block-padding) / 2);
}

.bottom-large {
  padding-bottom: var(--block-padding);
}

.bottom-medium {
  padding-bottom: calc(var(--block-padding) / 2);
}

.buttonContainer {}


.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  border-radius: 1em;
  background-color: var(--theme-elevation-150);
  padding: 1em;
  margin: 1em;
  width: 100%;
}

.name {
  padding: 0;
  margin: 0;
}

.image {
  width: auto;
  height: 200px;
}

.manifesto {
  white-space: pre-wrap;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
