# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb://127.0.0.1/ecss-website-cms

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key

# Quickfile vars
# The quickfile account number (can be found at the top right of the page)
QUICK_ACCOUNT_NUMBER=12345678
# The IDs of the applications used (can be found/created at /apps)
QUICK_APPLICATION_IDS=12345678-9012-3456-7890-123456789012,12345678-9012-3456-7890-123456789012,12345678-9012-3456-7890-123456789012
# The API KEYs generated for your account to authenticate your access to the quickfile API (can be found at /apps)
QUICK_ACCOUNT_API_KEY=012345678-A012-0A1B-0

# Stripe vars
STRIPE_API_KEY=sk_test_26PHem9AhJZvU623DfE1x4sd
STRIPE_ENDPOINT_SECRET=whsec_26PHem9AhJZvU623DfE1x4sd

# University of Southampton Azure AD Tenant ID - Change only if you want to auth with a different tenant ( ie univerisity account etc )
AZURE_AD_TENANT_ID="4a5378f9-29f4-4d3e-be89-669d03ada9d8"
AZURE_AD_CLIENT_SECRET=
AZURE_AD_CLIENT_ID=

