.account {
  margin-bottom: var(--block-padding);
}

.params {
  margin-top: var(--base);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.comment {
  margin: 0;
}

.meta {
  margin: 0;
}

.manifesto {
  white-space: pre-wrap;
}


.image {
  min-width: 200px;
  width: 25%;
  height: auto;
}
