@import '../../_css/common';

.header {
  padding: var(--base) 0;
  background-color: var(--theme-elevation-0);
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.home {
  display: flex;
  // flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  a {
    color: var(--theme-elevation-1000);
  }
  > * {
    text-decoration: none;
  }
}



.logo {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2); // Scale the logo to 120% on hover
  }
}

.title {
  color: var(--theme-elevation-1000);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 7%;
  
}

.title:visited {
  text-decoration: none;
}



