@import '../../_css/common';

.container{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: var(--gutter-h);

    @include mid-break {
        flex-direction: column;
    }
}

.intro{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 40%;
    height: 100%;
    padding-top: 3%;
    padding-right: 50px;

    @include mid-break {
        width: 100%;
    }
}

.heading {
    color: var(--theme-elevation-1000);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imageContainer{
    width: 60%;
    height: 100%;
    display: flex;

    @include mid-break {
        width: 100%;
    }
}

.image1{
    width: 30%;
    height: 75%;
    position: relative;
    object-fit: cover;
}

.button{
    width: 184px;
    position: relative;
    left: 2%;
}

.image2 {
    width: 30%;
    height: 75%;
    object-fit: cover;
    position: relative;
    left: 5%;
    top: 15%;
}

.image3 {
    width: 30%;
    height: 75%;
    object-fit: cover;
    position: relative;
    left: 10%;
    top: 0;
}

.stats {
    padding-top: 30%;
    display: flex;
    flex-direction: row;

    @include mid-break {
        width: 100%;
        padding-top: 5%;
    }
}

.stat {
    flex: 30%;
    height: 123px;
    display: flex;
    flex-direction: column;

    @include mid-break {
        align-text: center;
        align-items: center;
    }
}

.number {
    color: #ED1717;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mid-break {
        font-size: min(48px,10vw);
    }
}

.label {
    color: var(--theme-elevation-1000);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mid-break {
        font-size: min(32px,7vw);
    }
}
