@import '../../_css/common';

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  gap: var(--base) 40px;

  @include mid-break {
    grid-template-columns: repeat(6, 1fr);
    gap: calc(var(--base) / 2) var(--base);
  }
}

.column {
  grid-column-end: span 4;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}

.chart {
  width: 500px;
  height: 400px;
}

.chartTitle {
  text-align: center;
  width: 500px;
  margin-bottom: 0;
}


.titleHolder {
  flex: auto;
  flex-direction: row;
  display: flex;
}

.downloadTranscript {
  display: inline-flex;
}

.electedNominee {
  display: inline-flex;
  width: 100%;
}
