
@import '../../_css/common';
.grid {
  display: flex;
  flex-wrap: nowrap;
  
  overflow-x: auto;
  
  overflow-y: hidden; 
  
  width: 100%;
  gap: 40px;   
  -webkit-overflow-scrolling: touch; 
  
  padding-bottom: 20px; 

  @include mid-break {
    gap: var(--base);
  }
}

.grid > div {
  flex: 0 0 auto; 
}


.column {
  grid-column-end: span 4;

  @include mid-break {
    grid-column-end: span 6;
  }

  @include small-break {
    grid-column-end: span 6;
  }
}

.chart {
  width: 500px;
  height: 400px;
}

.chartTitle {
  text-align: center;
  width: 500px;
  margin-bottom: 0;
}


.titleHolder {
  flex: auto;
  flex-direction: row;
  display: flex;
}

.downloadTranscript {
  display: inline-flex;
}

.electedNominee {
  display: inline-flex;
  width: 100%;
}
