@import '../../../_css/common';

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  a {
      color: var(--theme-elevation-1000);
  }
  > * {
    text-decoration: none;
  }
}

.redBrackets {
  color: red;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.account {
  font-size: 20px;
  font-weight: 400;
}
