@import '../../_css/common';

.container {
    width: 100%;
    min-height: 690px;
    position: relative;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom: 50px;

    @include mid-break {
        min-height: 70vw;
        padding-bottom: 8vw;
    }
}

.grey {
    min-height: 608px;
    width: 55%;
    padding: 4%;
    background: var(--theme-elevation-150);
    position: relative;
    z-index: 1;

    @include mid-break {
        width: 85%;
        min-height: 59vw;
    }
}

.red {
    height: 85%;
    min-height: 560px;
    width: 55%;
    left: 35%;
    top: 10%;
    background: #A01B1B;
    z-index: -2;
    position: absolute;

    @include mid-break {
        min-height: 50vw;
        height: 85%;
    }
}

.text {
    color: var(--theme-elevation-1000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mid-break {
        font-size: clamp(16px, 3.5vw, 24px);

        p {
            margin: 15px 0;
        }

        h3 {
            font-size: clamp(20px, 4.5vw, 28px);
            margin: 15px 0;
        }
    }
}

.image {
    height: 83%;
    min-height: 545px;
    width: 55%;
    left: 33%;
    top: 11%;
    object-fit: cover;
    z-index: -1;
    position: absolute;

    @include mid-break {
        min-height: 50vw;
        height: 85%;
    }
}